{% extends "base.html" %}
{% block start %}

<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/blog">Blog</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

<div class="dashboard d-flex container">
    <div class="shadow-lg mt-5 container" style="width: 50%;">
        <div class="row g-3 mt-3">
            <div class="col">
                <label for="formGroupExampleInput" class="form-label fw-bold">First Name</label>
                <p>{{ first_name }}</p>
            </div>
            <div class="col" style="margin-left: 150px;">
                <label for="formGroupExampleInput" class="form-label fw-bold">Last Name</label>
                <p>{{ last_name }}</p>
            </div>
        </div>
        <div class="row g-2">
            <div class="col details">
                <label for="formGroupExampleInput" class="form-label fw-bold">Email</label>
                <p>{{ email }}</p>
            </div>
            <div class="col details" style="margin-left: 150px;">
                <label for="formGroupExampleInput" class="form-label fw-bold">User</label>
                <p>{{ user_type }}</p>
            </div>
        </div>
        <div class="details">
            <label for="formGroupExampleInput" class="form-label fw-bold">Address</label>
            <p>{{ address_line1 }}</p>
        </div>
        <div class="details">
            <label for="formGroupExampleInput" class="form-label fw-bold">City</label>
            <p>{{ city }}</p>
        </div>
        <div class="details">
            <label for="formGroupExampleInput" class="form-label fw-bold">State</label>
            <p>{{ state }}</p>
        </div>
        <div class="details">
            <label for="formGroupExampleInput" class="form-label fw-bold">Pincode</label>
            <p>{{ pincode }}</p>
        </div>
    </div>
    <div class="col rounded-circle ml-3 mt-5" style="height: 482px; width: 311px; background-color: black;">
        {% if profile_picture %}
        <img src="{{ profile_picture }}" alt="Profile Picture" class="rounded-circle" style="height: 100%; width: 100%;">
        {% else %}
        <img src="" alt="Default Profile Picture" class="rounded-circle" style="height: 100%; width: 100%;">
        {% endif %}
    </div>
</div>

<div class="button mt-3 d-flex justify-content-center">
    <a class="btn btn-danger" href="/">Back to home</a>
</div>

{% endblock %}
